body {
  background-color: #4566
}

#buttons {
  display: flex;
  border: solid;
  margin: 5px;
  background-color: #4555;
  width: 50%;
  height: 100px;
  justify-content: space-around;
}

#click {
  width: 10em;
  height: 5em;
  margin: auto;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
}

#hover {
  width: 30em;
  height: 5em;
  margin: auto;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
}

#list {
  border: solid;
  padding: 5px;
  background-color: #4555;
}

#flex-container {
  display: flex;
}

#flex-container .box {
  border: solid;
  border-width: 2px;
  margin: 5px;
  padding: 4px;
}
